<footer class="hero is-primary for-these-jobs">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third is-left">
                    <p class="title">{{ 'home.hire_me'|trans }}</p>
                </div>
                {# Job list #}
                <div class="column has-text-centered">
                    <ul>
                        {% for item in tags %}
                        <li>
                            <a href="{{ path('tag_' ~ item ~ '_' ~ app.request.locale) }}">
                                {{ ('tag.' ~ item ~ '.title')|trans }}
                            </a>
                        </li>
                        {% if loop.index is divisible by(8) and loop.index != tags|length %}
                    </ul>
                </div>
                <div class="column has-text-centered">
                    <ul>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
