{# Locales #}
{% set other_locale = app.request.locale == 'en' ? 'fr' : 'en' %}
{% set other_locale_name = app.request.locale == 'en' ? 'Français' : 'English' %}
{% set other_locale_flag = app.request.locale == 'en' ? 'fr' : 'gb' %}

<span class="nav-item locale-switcher">
    <a class="button" href="{{ path( app.request.attributes.get('_route') | switch_locale(other_locale)) }}">
        <span class="flag-icon flag-icon-{{ other_locale_flag }}"></span>
        {{ other_locale_name }}
    </a>
</span>
