<nav>
    <ul>
        <li>
            <a href="{{ path('home_' ~ app.request.getLocale()) }}">
                {{ 'links.home'|trans }}
            </a>
        </li>
        <li>{% include 'components/locale.html.twig' %}</li>
        <li>{% include 'components/contact.html.twig' %}</li>
    </ul>
</nav>
