<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}" />
    </head>
    <body>
        {% include 'components/icon.html.twig' %}

        {% block wrapper %}
            {% include 'components/nav.html.twig' %}
            {% block body %}{% endblock %}
            {% include 'components/footer.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/bundle.js') }}"></script>
        {% endblock %}
    </body>
</html>
