# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    version: 1
    mailer_transport:  smtp
    mailer_host:       email-smtp.eu-west-1.amazonaws.com
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       587
    mailer_encryption: tls
    notif_from_email: notify@vallini.io
    notif_to_email: vallinij@gmail.com
    autoreply_from_email: hello@vallini.io

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    locales:
        - { prefix: '', locale: 'en'}
        - { prefix: 'fr', locale: 'fr'}

    # Tags definition, each combination should be defined in the translation files
    tags:
        list:
            - php
            - javascript
            - html5
            - cto
            - react
            - nodejs
            - devops
            - scrum
            - serverless
            - graphql
            - symfony
            - frontend
            - fullstack
            - react-native
            - seo
        fields:
            - name
            - title
