.particles {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: $white-bis;

  &.show {
    transition: opacity 3s ease-in-out;
    opacity: 1;
  }
}
