.logo-container {
  text-align: center;
  display: flex;
  margin-bottom: 0 !important;
  margin-left: 20%;
  margin-right: 20%;

  a {
    color: $text;
    flex-grow: 1;
    border-bottom: none !important;

    &:hover {
      .icon {
        filter: opacity(100%);
      }
      .subtitle {
        color: $black;
      }

      @include desktop {
        transform: scale(1.1);
        transition: transform 0.2s ease-out;
      }
    }
  }

  @include mobile {
    margin: 0;
  }

  .subtitle {
    margin: 10px;
    color: $grey;
    transition: color 0.2s ease-in-out;

    @include mobile {
      display: none;
    }
  }

  .icon {
    width: 2em;
    height: 2em;
    filter: opacity(50%);
    transition: filter 0.2s ease-in-out;
  }
}
.icon-twitter {
  fill: $twitter;
}
.icon-github {
  fill: $github;
}
.icon-linkedin2 {
  fill: $linkedin;
}
.icon-stackoverflow {
  fill: $stackoverflow;
}
