{% extends '::base.html.twig' %}

{% block body %}
    <section class="hero is-medium has-text-centered is-fullheight contact">
        <div class="hero-body">
            <div class="container">
                {# Julien Vallini #}
                <h1 class="title">{{ 'contact.title'|trans }}</h1>
                <p class="subtitle">{{ 'contact.subtitle'|trans|text2html }}</p>
                <div class="columns">
                    <div class="column is-one-third is-offset-one-third">
                        {% block form %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
