{% extends '::base.html.twig' %}

{% block title %}{{ 'title.default'|trans }} - {{ 'title.contact'|trans }}{% endblock %}
{% block description %}{{ 'title.default'|trans }} - {{ 'title.contact'|trans }}{% endblock %}

{% block body %}
    <section class="hero is-medium has-text-centered is-fullheight contact">
        {# Particles #}
        <div id="particles-js" class="particles"></div>
        <div class="hero-body">
            <div class="container paper">
                {# Contact form #}
                {% block form %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock %}
