{% extends '::base.html.twig' %}

{% block body %}
    <section class="hero is-medium has-text-centered is-fullheight contact">
        <div class="hero-body">
            <div class="container">
                {# Julien Vallini #}
                <h1 class="title">{{ 'contact.title'|trans }}</h1>
                {% block form %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock %}
