{% extends ':contact:base.html.twig' %}

{% block form %}
<p class="subtitle">{{ 'contact.subtitle'|trans|text2html }}</p>
<div class="columns">
    <div class="column is-one-third is-offset-one-third">
        <div class="container has-text-left">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
