{% extends ':contact:base.html.twig' %}

{% block form %}
    <p>{{ 'contact.success.message'|trans }}</p>

    <p>
        <a href="{{ path('home_' ~ app.request.getLocale()) }}">
            {{ 'contact.success.return'|trans }}
        </a>
    </p>
{% endblock %}
